.idea/
.vscode/
Assembly-CSharp.csproj
CFXR.WelcomeScreen.csproj
CFXRDemo.csproj
CFXREditor.csproj
CFXRRuntime.csproj
KinoBloom.Runtime.csproj
Library/
Logs/
Temp/
ToonyColorsPro.Demo.Editor.csproj
UserSettings/
mono_crash.mem.166.1.blob
mono_crash.mem.414.1.blob
mono_crash.mem.6175.1.blob
obj/
Three-in-a-row.sln
Three-in-a-row2.sln
mono_crash.mem.184.1.blob

